
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row" >
            
            @*<img src="~/Assets/img/hotel.png" />*@
            <h1><strong>Xin chào</strong></h1>
            
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
